<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Стартовая страница</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>
<div th:replace="~{navigation::navi(Home)}"/>


<div class="container">
    <br>
    <h1>Товары</h1>
    Фильтр по цене:
    <form action="index">
        <p>от: <input name="min" value="0"> до: <input name="max"value="0">    <input type="submit" value="Поиск"></p>
    </form>
    <span th:if="${products.size() == 0}">Товаров нет</span>
    <div th:unless="${products.size() == 0}">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${pageProduct}">
            <td th:text="${product.id}"/>
            <td><a th:href="@{'/info/' + ${product.id}}" th:text="${product.title}"/></td>
            <td th:text="${product.price}"/>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <div th:if="${pageProduct.totalPages > 0}" class="pagination"
        th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/''}"
           th:text=${pageNumber}
           th:class="${pageNumber==pageProduct.number + 1} ? active"></a>
        </div>
    </nav>
</div>
</div>


</body>
</html>